
@{
    ViewData["Title"] = "ChiaSeBieuMau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo m-l--10">
                <img src="~/images/logo.png" width="35px" height="35px" alt="">
                <span class="nav_logo-name">Quản lý sinh viên</span>
            </a>
            <div class="nav_list">
                <a href="@Url.Action("News", "Home")" class="nav_link">
                    <i title="Bảng tin" class='bx bx-home-alt-2'></i>
                    <span class="nav_name">Bảng tin</span>
                </a>
                <a href="@Url.Action("ChiaSeBieuMau", "Home")" class="nav_link active">
                    <i title="Chia sẻ" class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Chia sẻ</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("KetQuaHocTap", "Home")" class="nav_link">
                            <i title="Kết quả học tập" class='bx bx-clipboard'></i>
                            <span class="nav_name">Kết quả học tập</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KetQuaThi", "Home")"><i title="Kết quả thi" class='bx bx-task'></i> Kết quả thi</a>
                        <a href="@Url.Action("TBChungTichLuy", "Home")"><i title="TB chung tích lũy" class='bx bx-task'></i> TB chung tích lũy</a>
                        <a href="@Url.Action("TBChungHocKy", "Home")"><i title="TB chung học kỳ" class='bx bx-task'></i> TB chung học kỳ</a>
                        <a href="@Url.Action("XetThuTotNghiep", "Home")"><i title="Xét thử tốt nghiệp" class='bx bx-task'></i> Xét thử tốt nghiệp</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("ThoiKhoaBieu", "Home")" class="nav_link">
                            <i title="Thời khóa biểu" class='bx bx-time-five'></i>
                            <span class="nav_name">Thời khóa biểu</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("LichGiangDay", "Home")"><i title="Lịch giảng dạy" class='bx bx-timer nav_icon_con'></i> Lịch giảng dạy</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("XemLichThi", "Home" )" class="nav_link">
                            <i title="Lịch thi" class='bx bx-calendar'></i>
                            <span class="nav_name">Lịch thi</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KeHoachThi", "Home")"><i title="Kế hoạch thi theo lớp" class='bx bx-calendar-check'></i> Kế hoach thi theo lớp</a>
                    </div>
                </div>
                <a href="@Url.Action("LopHoc", "Home" )" class="nav_link">
                    <i title="Lớp Học" class='bx bxs-school'></i>
                    <span class="nav_name">Lớp học</span>
                </a>
                <a href="@Url.Action("CaNhan", "Home" )" class="nav_link">
                    <i title="Cá nhân" class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Cá nhân</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("DangKyHP", "Home" )" class="nav_link">
                            <i title="Đăng ký học phần" class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Đăng ký học phần</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("TinhHinhDangKyHP", "Home")"><i title="Tình hình ĐK học phần" class='bx bxs-bookmark'></i> Tình hình ĐK học phần</a>
                        <a href="#"><i title="ĐK học 2 chương trình" class='bx bx-bookmarks'></i> ĐK học 2 chương trình</a>
                        <a href="#"><i title="Danh sách đăng ký học phần" class='bx bx-bookmarks'></i> Danh sách đăng ký</a>
                        <a href="#"><i title="Kiểm tra tiến độ CT2" class='bx bx-bookmarks'></i> Kiểm tra tiến độ CT2</a>
                        <a href="@Url.Action("KhungChuongTrinh", "Home")"><i title="Khung chương trình" class='bx bxs-book-bookmark'></i> Khung chương trình</a>
                        <a href="@Url.Action("KhungChuongTrinhKy", "Home")"><i title="Khung chương trình (Kỳ)" class='bx bxs-book-bookmark'></i> Khung chương trình (Kỳ)</a>
                    </div>
                </div>
                <a href="@Url.Action("DanhGiaRenLuyen", "Home" )" class="nav_link">
                    <i title="Đánh giá rèn luyện" class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Đánh giá rèn luyện</span>
                </a>
                @*                <a href="#" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Đăng xuất</span>
                </a>*@
            </div>
        </div>
    </nav>
</div>
<!--Container Main start-->
<div class="border-page">
    <div class="Bang-tin">
        <p class="title-page">Chia sẻ liên hệ, Mãu báo cáo, biểu mẫu, quy định, hướng dẫn chung</p>
        <div class="title-line"></div>
        <div class="body-share">
            <div class="content">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Liên hệ</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:8%" scope="col">TT</th>
                                                <th style="width:18%" scope="col">Tiêu đề</th>
                                                <th style="width:10%" scope="col">loại</th>
                                                <th style="width:17%" scope="col">Số điện thoại</th>
                                                <th style="width:5%" scope="col">Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Khoa Công Nghệ</td>
                                                <td>Liên hệ</td>
                                                <td>0251.6554.167</td>
                                                <td>khoacongnghe@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Khoa Kinh Tế - Quản Trị</td>
                                                <td>Liên hệ</td>
                                                <td>02516.252.424</td>
                                                <td>quantri@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Khoa Kế Toán – Tài Chính</td>
                                                <td>Liên hệ</td>
                                                <td>02516.535.079</td>
                                                <td>khoakttc@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Khoa Ngoại Ngữ</td>
                                                <td>Liên hệ</td>
                                                <td>02512.211.218</td>
                                                <td>knn@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Khoa Y</td>
                                                <td>Liên hệ</td>
                                                <td>02512.612.611</td>
                                                <td>khoayhoc@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Phòng Quan Hệ Doanh Nghiệp</td>
                                                <td>Liên hệ</td>
                                                <td>02516.252.899</td>
                                                <td>qhdn@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>TT-QLSV - ĐBCLGD</td>
                                                <td>Liên hệ</td>
                                                <td>02516.297.733</td>
                                                <td>phongthanhtradbclgd@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">8</th>
                                                <td>Phòng Sau Đại Học</td>
                                                <td>Liên hệ</td>
                                                <td>02516.514.601</td>
                                                <td>sdh@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">9</th>
                                                <td>Phòng Kế Hoạch - Tài Chính</td>
                                                <td>Liên hệ</td>
                                                <td>02512.211.217</td>
                                                <td>phongkhtc@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">10</th>
                                                <td>Phòng Đào Tạo - Khảo Thí</td>
                                                <td>Liên hệ</td>
                                                <td>02512.211.852</td>
                                                <td>daotao@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">11</th>
                                                <td>Phòng Truyền thông</td>
                                                <td>Liên hệ</td>
                                                <td>02512.612.241</td>
                                                <td>tuyensinh@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">12</th>
                                                <td>Đoàn Thanh Niên</td>
                                                <td>Liên hệ</td>
                                                <td>02512.614.294 </td>
                                                <td>Doantruongdaihoccongnghedn@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">13</th>
                                                <td>Trung Tâm Thông Tin – Thư Viện</td>
                                                <td>Liên hệ</td>
                                                <td>02512.607.770</td>
                                                <td>thuvien@dntu.edu.vn</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">14</th>
                                                <td>Ký Túc Xá</td>
                                                <td>Liên hệ</td>
                                                <td>02512.614.795</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">15</th>
                                                <td>Bộ phận 1 cửa</td>
                                                <td>Liên hệ</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Mẫu báo cáo</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:8%" scope="col">TT</th>
                                                <th scope="col">Tiêu đề</th>
                                                <th style="width:18%" scope="col">loại</th>
                                                <th style="width:25%" scope="col">Biểu mẫu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Hướng dẫn viết báo cáo thực tập tốt nghiệp</td>
                                                <td>Hướng dẫn</td>
                                                <td><a href="~/BieuMau/Huong-dan-viet-bao-cao-thuc-tap-tot-nghiep.docx" download="HuongDanVietBaoCaoThucTapTotNghiep">Download hướng dẫn</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Mẫu bìa báo cáo thực tập</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/MauBiaBaoCaoThuTap.docx" download="MauBiaBaoCaoThuTap">Download biểu mẫu</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Sổ thực tập DNTU</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/SoThucTapDNTU.doc" download="SoThucTapDNTU">Download biểu mẫu</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Mẫu thỏa thuận thực tập</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/MauThoaThuanThucTap.doc" download="logo">Download biểu mẫu</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Mẫu đánh giá của doanh nghiệp</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/BieuMauDanhGiaDoanhNghiep.doc" download="logo">Download biểu mẫu</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Mẫu thực tập trước thời hạn</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/DonThucTapTruocThoiHan.doc" download="logo">Download biểu mẫu</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>Qui định biểu mẫu khóa luận tốt nghiệp</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/DNTU-QuyDinhKLTN.docx" download="logo">Download biểu mẫu</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Biểu mẫu</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:8%" scope="col">TT</th>
                                                <th scope="col">Tiêu đề</th>
                                                <th style="width:18%" scope="col">loại</th>
                                                <th style="width:18%" scope="col">Biểu mẫu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Đề nghị cấp lại mật khẩu</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/5_%20BM-PDT-05.pdf" download="BM-PDT-05">BM-PDT-05</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Đề nghị điều chỉnh thông tin sinh viên</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/6_%20BM-PDT-06.pdf" download="BM-PDT-06">BM-PDT-06</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Đề nghị làm thẻ sinh viên</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/7_%20BM-PDT-07.pdf" download="BM-PDT-07">BM-PDT-07</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Đơn xin chuyển trường (chuyển đến)</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/8_%20BM-PDT-08.pdf" download="logo">BM-PDT-08</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Đơn xin chuyển lớp</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/9_%20BM-PDT-9.pdf" download="logo">BM-PDT-09</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6</th>
                                                <td>Đơn xin chuyển lớp học phần</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/10_%20BM-PDT-10.pdf" download="logo">BM-PDT-10</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">7</th>
                                                <td>Đơn xin chuyển ngành học</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/1231456789/11.BM-PDT-11(1).pdf" download="logo">BM-PDT-11</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">8</th>
                                                <td>Đề nghị đăng ký lớp học phần</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BIEU%20MAU%202023/12_%20BM-PDT-12.pdf" download="logo">BM-PDT-12</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">9</th>
                                                <td>Đơn xin hủy đăng ký học phần</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BIEU%20MAU%202023/13_%20BM-PDT-13.pdf" download="logo">BM-PDT-13</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">10</th>
                                                <td>Đơn xin đăng ký học phần thay thế</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/15%20BM-PDT-15.pdf" download="logo">BM-PDT-15</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">11</th>
                                                <td>Đơn xin chuyển điểm</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/16_%20BM-PDT-16.pdf" download="logo">BM-PDT-16</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">12</th>
                                                <td>Đơn xin hoãn thi kết thúc học phần</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/ht/17_%20BM-PDT-17%20____.pdf" download="logo">BM-PDT-17</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">13</th>
                                                <td>Đơn xin bổ sung thi cuối kỳ</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/18_%20BM-PDT-18.pdf" download="logo">BM-PDT-18</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">14</th>
                                                <td>Đề nghị phúc khảo điểm thi kết thúc học phần</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/2018/20_%20BM-PDT-20.pdf" download="logo">BM-PDT-20</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">15</th>
                                                <td>Đơn xin nghỉ học tạm thời và bảo lưu KQHT</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/a/BM-PDT-21%20DON%20XIN%20NGHI%20HOC%20TAM%20THOI%20VA%20BAO%20LUU%20KQHT%2019_12_22.pdf" download="logo">BM-PDT-20</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">16</th>
                                                <td>Đề nghị xác nhận học phí</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/22_ BM-PDT-22.doc" download="BM-PDT-22">BM-PDT-22</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">17</th>
                                                <td>Đề nghị học cải thiện</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/23_%20BM-PDT-23.pdf" download="logo">BM-PDT-23</a></td>
                                            <tr>
                                                <th scope="row">18</th>
                                                <td>Đề nghị cấp giấy xác nhận lịch học</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/24_BM-PDT-24.pdf" download="logo">BM-PDT-24</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">19</th>
                                                <td>Đơn xin gia hạn học phí</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/25_%20BM-PDT-25.pdf" download="logo">BM-PDT-25</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">20</th>
                                                <td>Đề nghị cấp giấy chứng nhận hoàn tất chương trình học</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/26.P%C4%90T-BM%2026(1).pdf" download="logo">BM-PDT-26</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">21</th>
                                                <td>Đơn xin cấp giấy chứng nhận tốt nghiệp tạm thời</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/27_BM-PDT-27.pdf" download="logo">BM-PDT-27</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">22</th>
                                                <td>Đề nghị xét tốt nghiệp</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="~/BieuMau/29-BM-PDT.docx" download="29-BM-PDT">BM-PDT-29</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">23</th>
                                                <td>Đơn xin học cùng lúc hai chương trình</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/1231456789/32_%20BM-PDT-32.pdf" download="logo">BM-PDT-32</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">24</th>
                                                <td>Đơn xin cấp bản sao bằng tốt nghiệp</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/BM%202019_2020/33_%20BM-PDT-33.pdf" download="logo">BM-PDT-33</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">25</th>
                                                <td>Đơn xét miễn và công nhận chứng chỉ</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/2018/35_%20BM-PDT-35.pdf" download="logo">BM-PDT-35</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">26</th>
                                                <td>Đề nghị hỗ trợ khuyến học</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/a/41_De%20nghi%20ho%20tro%20khuyen%20hoc.pdf" download="logo">BM-PDT-41</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">27</th>
                                                <td>Đơn xin trở lại học (sau bảo lưu)</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/a/BM-PDT-42%20DON%20XIN%20TRO%20LAI%20HOC%20(SAU%20BAO%20LUU)%2019_12_22.pdf" download="logo">BM-PDT-42</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">28</th>
                                                <td>Thỏa thuận hỗ trợ khuyến học</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/a/Thoa%20thuan%20ho%20tro%20quy%20khuyen%20hoc.pdf" download="logo">BM-PDT-43</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">29</th>
                                                <td>Đề nghị xét cấp học bổng</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/a/44_%20BM-PDT-44.pdf" download="logo">BM-PDT-44</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">30</th>
                                                <td> Đơn xin giảm học phí</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="https://daotao.dntu.edu.vn/Resource/Upload/file/ThongBao/DON%20XIN%20%20GIAM%20HOC%20PHI.pdf" download="logo">BM-PDT-45</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">31</th>
                                                <td> Đơn xin trở lại học (sau kỷ luật)</td>
                                                <td>Biểu mẫu</td>
                                                <td>Làm việc trực tiếp</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Quy Dịnh</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:8%" scope="col">TT</th>
                                                <th scope="col">Tiêu đề</th>
                                                <th style="width:18%" scope="col">loại</th>
                                                <th style="width:18%" scope="col">Biểu mẫu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="./login/logo.png" download="logo">Download Text</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Quy định</td>
                                                <td><a href="./login/logo.png" download="logo">Download Text</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>Hướng dẫn</td>
                                                <td><a href="./login/logo.png" download="logo">Download Text</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Hướng dẫn sử dụng phần mền quản lý sinh viên</strong>
                                </div>
                                <div class="card-body">
                                    <table class="table" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:8%" scope="col">TT</th>
                                                <th scope="col">Tiêu đề</th>
                                                <th style="width:18%" scope="col">loại</th>
                                                <th style="width:18%" scope="col">Biểu mẫu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Biểu mẫu</td>
                                                <td><a href="./login/logo.png" download="logo">Download Text</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Quy định</td>
                                                <td><a href="./login/logo.png" download="logo">Download Text</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>Hướng dẫn</td>
                                                <td><a href="./login/logo.png" download="logo">Download Text</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
    </div>
</div>

