
@{
    ViewData["Title"] = "KeHoachThi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo m-l--10">
                <img src="~/images/logo.png" width="35px" height="35px" alt="">
                <span class="nav_logo-name">Quản lý sinh viên</span>
            </a>
            <div class="nav_list">
                <a href="@Url.Action("News", "Home")" class="nav_link">
                    <i title="Bảng tin" class='bx bx-home-alt-2'></i>
                    <span class="nav_name">Bảng tin</span>
                </a>
                <a href="@Url.Action("ChiaSeBieuMau", "Home")" class="nav_link">
                    <i title="Chia sẻ" class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Chia sẻ</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("KetQuaHocTap", "Home")" class="nav_link">
                            <i title="Kết quả học tập" class='bx bx-clipboard'></i>
                            <span class="nav_name">Kết quả học tập</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KetQuaThi", "Home")"><i title="Kết quả thi" class='bx bx-task'></i> Kết quả thi</a>
                        <a href="@Url.Action("TBChungTichLuy", "Home")"><i title="TB chung tích lũy" class='bx bx-task'></i> TB chung tích lũy</a>
                        <a href="@Url.Action("TBChungHocKy", "Home")"><i title="TB chung học kỳ" class='bx bx-task'></i> TB chung học kỳ</a>
                        <a href="@Url.Action("XetThuTotNghiep", "Home")"><i title="Xét thử tốt nghiệp" class='bx bx-task'></i> Xét thử tốt nghiệp</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("ThoiKhoaBieu", "Home")" class="nav_link">
                            <i title="Thời khóa biểu" class='bx bx-time-five'></i>
                            <span class="nav_name">Thời khóa biểu</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("LichGiangDay", "Home")"><i title="Lịch giảng dạy" class='bx bx-timer nav_icon_con'></i> Lịch giảng dạy</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("XemLichThi", "Home" )" class="nav_link active">
                            <i title="Lịch thi" class='bx bx-calendar'></i>
                            <span class="nav_name">Lịch thi</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet dis-block">
                        <a href="@Url.Action("KeHoachThi", "Home")"><i title="Kế hoạch thi theo lớp" class='bx bx-calendar-check'></i> Kế hoach thi theo lớp</a>
                    </div>
                </div>
                <a href="@Url.Action("LopHoc", "Home" )" class="nav_link">
                    <i title="Lớp Học" class='bx bxs-school'></i>
                    <span class="nav_name">Lớp học</span>
                </a>
                <a href="@Url.Action("CaNhan", "Home" )" class="nav_link">
                    <i title="Cá nhân" class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Cá nhân</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("DangKyHP", "Home" )" class="nav_link">
                            <i title="Đăng ký học phần" class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Đăng ký học phần</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("TinhHinhDangKyHP", "Home")"><i title="Tình hình ĐK học phần" class='bx bxs-bookmark'></i> Tình hình ĐK học phần</a>
                        <a href="#"><i title="ĐK học 2 chương trình" class='bx bx-bookmarks'></i> ĐK học 2 chương trình</a>
                        <a href="#"><i title="Danh sách đăng ký học phần" class='bx bx-bookmarks'></i> Danh sách đăng ký</a>
                        <a href="#"><i title="Kiểm tra tiến độ CT2" class='bx bx-bookmarks'></i> Kiểm tra tiến độ CT2</a>
                        <a href="@Url.Action("KhungChuongTrinh", "Home")"><i title="Khung chương trình" class='bx bxs-book-bookmark'></i> Khung chương trình</a>
                        <a href="@Url.Action("KhungChuongTrinhKy", "Home")"><i title="Khung chương trình (Kỳ)" class='bx bxs-book-bookmark'></i> Khung chương trình (Kỳ)</a>
                    </div>
                </div>
                <a href="@Url.Action("DanhGiaRenLuyen", "Home" )" class="nav_link">
                    <i title="Đánh giá rèn luyện" class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Đánh giá rèn luyện</span>
                </a>
                @*                <a href="#" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Đăng xuất</span>
                </a>*@
            </div>
        </div>
    </nav>
</div>
<!--Container Main start-->
<div class="border-page">
    <div class="Bang-tin">
        <p class="title-page">Tra cứu thông tin kế hoạch thi theo lớp</p>
        <div class="title-line"></div>
        <div class="TBChungTL">
            <div class="txt-notic">
                <p><strong class="txt-clr-red">Chú ý: </strong>Cập nhật kế hoạch lịch thi thường xuyên vì kế hoạch thi có thể bị thay đổi</p>
            </div>
            <div class="table-TBChungTL m-t-30">
                <table style="width:100% ;padding-left: 4px">
                    <tr>
                        <td colspan="16">
                            <strong class="fs-11">Kế hoạch thi thi theo lớp</strong>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:2%;">STT</th>
                        <th style="width:9%;">Mã lớp độc lập</th>
                        <th style="width:20%;">Tên học phần</th>
                        <th style="width:7%;">Ngày thi</th>
                        <th>Ca thi</th>
                        <th>Lần thi</th>
                        <th style="width:7%;">Lớp ưu tiên</th>
                        <th style="width:17%;">Khoa</th>
                        <th style="width:8%;">Ngày công bố</th>
                        <th style="width:9%;">Ngày cập nhật</th>
                        <th style="width:7%;">Ghi chú</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Học kỳ 1</td>
                            <td>Kỹ năng giao tiếp, thuyết trình & làm việc nhóm</td>
                            <td>18/11/2019</td>
                            <td>Ca 4: 15h15</td>
                            <td>Học kỳ 1</td>
                            <td>0070131.22</td>
                            <td>Phòng Quan hệ doanh nghiệp & phát triển kỹ năng</td>
                            <td></td>
                            <td>1</td>
                            <td>Học kỳ 1</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-TBChungTL m-t-5">
                <table style="width:100% ;padding-left: 4px">
                    <tr>
                        <td colspan="16">
                            <strong class="fs-11">Danh sách môn học và mã lớp độc lập</strong>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:2%;">STT</th>
                        <th style="width:30%;">Mã lớp độc lập</th>
                        <th>Môn học</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Học kỳ 1</td>
                            <td>9</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
