@using DoAnTotNghiep.Models
@model List<StudenClass>
@{
    ViewData["Title"] = "LopHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stt = 1;
}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo m-l--10">
                <img src="~/images/logo.png" width="35px" height="35px" alt="">
                <span class="nav_logo-name">Quản lý sinh viên</span>
            </a>
            <div class="nav_list">
                <a href="@Url.Action("News", "Home")" class="nav_link">
                    <i title="Bảng tin" class='bx bx-home-alt-2'></i>
                    <span class="nav_name">Bảng tin</span>
                </a>
                <a href="@Url.Action("ChiaSeBieuMau", "Home")" class="nav_link">
                    <i title="Chia sẻ" class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Chia sẻ</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("KetQuaHocTap", "Home")" class="nav_link">
                            <i title="Kết quả học tập" class='bx bx-clipboard'></i>
                            <span class="nav_name">Kết quả học tập</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KetQuaThi", "Home")"><i title="Kết quả thi" class='bx bx-task'></i> Kết quả thi</a>
                        <a href="@Url.Action("TBChungTichLuy", "Home")"><i title="TB chung tích lũy" class='bx bx-task'></i> TB chung tích lũy</a>
                        <a href="@Url.Action("TBChungHocKy", "Home")"><i title="TB chung học kỳ" class='bx bx-task'></i> TB chung học kỳ</a>
                        <a href="@Url.Action("XetThuTotNghiep", "Home")"><i title="Xét thử tốt nghiệp" class='bx bx-task'></i> Xét thử tốt nghiệp</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("ThoiKhoaBieu", "Home")" class="nav_link">
                            <i title="Thời khóa biểu" class='bx bx-time-five'></i>
                            <span class="nav_name">Thời khóa biểu</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("LichGiangDay", "Home")"><i title="Lịch giảng dạy" class='bx bx-timer nav_icon_con'></i> Lịch giảng dạy</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("XemLichThi", "Home" )" class="nav_link">
                            <i title="Lịch thi" class='bx bx-calendar'></i>
                            <span class="nav_name">Lịch thi</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KeHoachThi", "Home")"><i title="Kế hoạch thi theo lớp" class='bx bx-calendar-check'></i> Kế hoach thi theo lớp</a>
                    </div>
                </div>
                <a href="@Url.Action("LopHoc", "Home" )" class="nav_link  active">
                    <i title="Lớp Học" class='bx bxs-school'></i>
                    <span class="nav_name">Lớp học</span>
                </a>
                <a href="@Url.Action("CaNhan", "Home" )" class="nav_link">
                    <i title="Cá nhân" class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Cá nhân</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("DangKyHP", "Home" )" class="nav_link">
                            <i title="Đăng ký học phần" class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Đăng ký học phần</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("TinhHinhDangKyHP", "Home")"><i title="Tình hình ĐK học phần" class='bx bxs-bookmark'></i> Tình hình ĐK học phần</a>
                        <a href="@Url.Action("KhungChuongTrinh", "Home")"><i title="Khung chương trình" class='bx bxs-book-bookmark'></i> Khung chương trình</a>
                        <a href="@Url.Action("KhungChuongTrinhKy", "Home")"><i title="Khung chương trình (Kỳ)" class='bx bxs-book-bookmark'></i> Khung chương trình (Kỳ)</a>
                    </div>
                </div>
                <a href="@Url.Action("DanhGiaRenLuyen", "Home" )" class="nav_link">
                    <i title="Đánh giá rèn luyện" class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Đánh giá rèn luyện</span>
                </a>
                @*                <a href="#" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Đăng xuất</span>
                </a>*@
            </div>
        </div>
    </nav>
</div>
<!--Container Main start-->
<div class="border-page">
    <div class="Lop-Hoc">
        <p class="title-page">Thông tin lớp học</p>
        <div class="title-line"></div>
        <div class="body-share">
            <div class="content">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Danh sách sinh viên của lớp <span style="color:#942024">@ViewBag.StudentInfo.Classname</span></strong>
                                </div>
                                <div class="card-body">
                                    <table class="table" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:5%" scope="col">TT</th>
                                                <th style="width:10%" scope="col">Mã sinh viên</th>
                                                <th style="width:17%" scope="col">Họ tên</th>
                                                <th scope="col">Địa chỉ</th>
                                                <th style="width:10%" scope="col">Điện thoại</th>
                                                <th style="width:15%" scope="col">Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <th scope="row">@(stt++)</th>
                                                    <td>@item.Usercode</td>
                                                    <td>@item.Username</td>
                                                    <td>@item.Address</td>
                                                    <td>@item.Phone</td>
                                                    <td>@item.Email</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->
        </div>
    </div>
</div>
