@using DoAnTotNghiep.Models
@model List<News>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo m-l--10">
                <img src="~/images/logo.png" width="35px" height="35px" alt="">
                <span class="nav_logo-name">Quản lý sinh viên</span>
            </a>
            <div class="nav_list">
                <a href="@Url.Action("News", "Home")" class="nav_link active">
                    <i class='bx bx-home-alt-2'></i>
                    <span class="nav_name">Bảng tin</span>
                </a>
                <a href="@Url.Action("ChiaSeBieuMau", "Home")" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Chia sẻ</span>
                </a>
                <a href="@Url.Action("KetQuaHocTap", "Home")" class="nav_link">
                    <i class='bx bx-clipboard'></i>
                    <span class="nav_name">Kết quả học tập</span>
                </a>
                <a href="@Url.Action("ThoiKhoaBieu", "Home")" class="nav_link">
                    <i class='bx bx-time-five'></i>
                    <span class="nav_name">Thời khóa biểu</span>
                </a>
                <a href="@Url.Action("XemLichThi", "Home" )" class="nav_link">
                    <i class='bx bx-calendar'></i>
                    <span class="nav_name">Lịch thi</span>
                </a>
                <a href="@Url.Action("CaNhan", "Home" )" class="nav_link">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Cá nhân</span>
                </a>
                <a href="@Url.Action("DangKyHP", "Home" )" class="nav_link">
                    <i class='bx bx-bookmark nav_icon'></i>
                    <span class="nav_name">Đăng ký học phần</span>
                </a>
                <a href="@Url.Action("DanhGiaRenLuyen", "Home" )" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Đánh giá rèn luyện</span>
                </a>
            </div>
        </div>
        <a href="../login/login.htm" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Đăng xuất</span>
        </a>
    </nav>
</div>
<!--Container Main start-->
<div style="transform: rotate(180deg);" class="z-index">
    <div class="Box-notic">
        <div style="transform: rotate(180deg);" class="txt-opc">
            <img src="~/images/logo.png" width="50px" height="50px" alt="">
            Chào mừng đến với QLSV của DNTU. &emsp;
        </div>
    </div>
</div>

<div class="border-page">
    <div class="Bang-tin">
        <p class="title-page">Bảng tin@*@item.Head*@</p>
        <div class="title-line"></div>
        @foreach(var item in Model)
        {
            <div class="newsItem d-flex">
                <a href="#" class="news-Daily-Item">
                    <span class="calTop">@(item.ModifiedTime.Value.Day)</span>
                    <span class="calBot">@(item.ModifiedTime.Value.Month +"/"+ item.ModifiedTime.Value.Year)</span>
                </a>
                <a href="#" class="news-Link">@item.Title<span class="newDate">&nbsp;(@item.ModifiedTime)</span></a>
            </div>
        }
    </div>
</div>