@using DoAnTotNghiep.Models
@model List<News>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo m-l--10">
                <img src="~/images/logo.png" width="35px" height="35px" alt="">
                <span class="nav_logo-name">Quản lý sinh viên</span>
            </a>
            <div class="nav_list">
                <a href="@Url.Action("News", "Home")" class="nav_link active">
                    <i class='bx bx-home-alt-2'></i>
                    <span class="nav_name">Bảng tin</span>
                </a>
                <a href="@Url.Action("ChiaSeBieuMau", "Home")" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Chia sẻ</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("KetQuaHocTap", "Home")" class="nav_link">
                            <i class='bx bx-clipboard'></i>
                            <span class="nav_name">Kết quả học tập</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KetQuaThi", "Home")"><i class='bx bx-task'></i> Kết quả thi</a>
                        <a href="@Url.Action("TBChungHocKy", "Home")"><i class='bx bx-task'></i> TB chung tích lũy</a>
                        <a href="@Url.Action("TBChungTichLuy", "Home")"><i class='bx bx-task'></i> TB chung học kỳ</a>
                        <a href="@Url.Action("XetThuTotNghiep", "Home")"><i class='bx bx-task'></i> Xét thử tốt nghiệp</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("ThoiKhoaBieu", "Home")" class="nav_link">
                            <i class='bx bx-time-five'></i>
                            <span class="nav_name">Thời khóa biểu</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("LichGiangDay", "Home")"><i class='bx bx-timer nav_icon_con'></i> Lịch giảng dạy</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("XemLichThi", "Home" )" class="nav_link">
                            <i class='bx bx-calendar'></i>
                            <span class="nav_name">Lịch thi</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KeHoachThi", "Home")"><i class='bx bx-calendar-check'></i> Kế hoach thi theo lớp</a>
                    </div>
                </div>
                <a href="@Url.Action("LopHoc", "Home" )" class="nav_link">
                    <i class='bx bxs-school'></i>
                    <span class="nav_name">Lớp học</span>
                </a>
                <a href="@Url.Action("CaNhan", "Home" )" class="nav_link">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Cá nhân</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("DangKyHP", "Home" )" class="nav_link">
                            <i class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Đăng ký học phần</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("TinhHinhDangKyHP", "Home")"><i class='bx bxs-bookmark'></i> Tình hình ĐK học phần</a>
                        <a href="#"><i class='bx bx-bookmarks'></i> ĐK học 2 chương trình</a>
                        <a href="#"><i class='bx bx-bookmarks'></i> Danh sách đăng ký</a>
                        <a href="#"><i class='bx bx-bookmarks'></i> Kiểm tra tiến độ CT2</a>
                        <a href="@Url.Action("KhungChuongTrinh", "Home")"><i class='bx bxs-book-bookmark'></i> Khung chương trình</a>
                        <a href="@Url.Action("KhungChuongTrinhKy", "Home")"><i class='bx bxs-book-bookmark'></i> Khung chương trình (Kỳ)</a>
                    </div>
                </div>
                <a href="@Url.Action("DanhGiaRenLuyen", "Home" )" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Đánh giá rèn luyện</span>
                </a>
            </div>
        </div>
        <a href="#" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Đăng xuất</span>
        </a>
    </nav>
</div>
<!--Container Main start-->
<div style="transform: rotate(180deg);" class="z-index">
    <div class="Box-notic">
        <div style="transform: rotate(180deg);" class="txt-opc">
            <img src="~/images/logo.png" width="50px" height="50px" alt="">
            Chào mừng đến với QLSV của DNTU. &emsp;
        </div>
    </div>
</div>

<div class="border-page">
    <div class="News">
        <p class="title-page">Bảng tin@*@item.Head*@</p>
        <div class="title-line"></div>
        @foreach(var item in Model)
        {
            <div class="newsItem d-flex">
                <a href="#" class="news-Daily-Item">
                    <span class="calTop">@(item.ModifiedTime.Value.Day)</span>
                    <span class="calBot">@(item.ModifiedTime.Value.Month +"/"+ item.ModifiedTime.Value.Year)</span>
                </a>
                <a href="@Url.Action("DetailNews", "Home", new{ id = @item.NewsId })" class="news-Link">@item.Title<span class="newDate">&nbsp;(@(item.ModifiedTime.Value.Day + "/" + item.ModifiedTime.Value.Month + "/" + item.ModifiedTime.Value.Year))</span></a>
            </div>
        }
    </div>
</div>