@model List<DoAnTotNghiep.Models.ExamCalendar>
@{
    ViewData["Title"] = "XemLichThi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stt = 1;
}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo m-l--10">
                <img src="~/images/logo.png" width="35px" height="35px" alt="">
                <span class="nav_logo-name">Quản lý sinh viên</span>
            </a>
            <div class="nav_list">
                <a href="@Url.Action("News", "Home")" class="nav_link">
                    <i title="Bảng tin" class='bx bx-home-alt-2'></i>
                    <span class="nav_name">Bảng tin</span>
                </a>
                <a href="@Url.Action("ChiaSeBieuMau", "Home")" class="nav_link">
                    <i title="Chia sẻ" class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Chia sẻ</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("KetQuaHocTap", "Home")" class="nav_link">
                            <i title="Kết quả học tập" class='bx bx-clipboard'></i>
                            <span class="nav_name">Kết quả học tập</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KetQuaThi", "Home")"><i title="Kết quả thi" class='bx bx-task'></i> Kết quả thi</a>
                        <a href="@Url.Action("TBChungTichLuy", "Home")"><i title="TB chung tích lũy" class='bx bx-task'></i> TB chung tích lũy</a>
                        <a href="@Url.Action("TBChungHocKy", "Home")"><i title="TB chung học kỳ" class='bx bx-task'></i> TB chung học kỳ</a>
                        <a href="@Url.Action("XetThuTotNghiep", "Home")"><i title="Xét thử tốt nghiệp" class='bx bx-task'></i> Xét thử tốt nghiệp</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("ThoiKhoaBieu", "Home")" class="nav_link">
                            <i title="Thời khóa biểu" class='bx bx-time-five'></i>
                            <span class="nav_name">Thời khóa biểu</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("LichGiangDay", "Home")"><i title="Lịch giảng dạy" class='bx bx-timer nav_icon_con'></i> Lịch giảng dạy</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("XemLichThi", "Home" )" class="nav_link  active">
                            <i title="Lịch thi" class='bx bx-calendar'></i>
                            <span class="nav_name">Lịch thi</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet dis-block">
                        <a href="@Url.Action("KeHoachThi", "Home")"><i title="Kế hoạch thi theo lớp" class='bx bx-calendar-check'></i> Kế hoach thi theo lớp</a>
                    </div>
                </div>
                <a href="@Url.Action("LopHoc", "Home" )" class="nav_link">
                    <i title="Lớp Học" class='bx bxs-school'></i>
                    <span class="nav_name">Lớp học</span>
                </a>
                <a href="@Url.Action("CaNhan", "Home" )" class="nav_link">
                    <i title="Cá nhân" class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Cá nhân</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("DangKyHP", "Home" )" class="nav_link">
                            <i title="Đăng ký học phần" class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Đăng ký học phần</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("TinhHinhDangKyHP", "Home")"><i title="Tình hình ĐK học phần" class='bx bxs-bookmark'></i> Tình hình ĐK học phần</a>
                        <a href="@Url.Action("KhungChuongTrinh", "Home")"><i title="Khung chương trình" class='bx bxs-book-bookmark'></i> Khung chương trình</a>
                        <a href="@Url.Action("KhungChuongTrinhKy", "Home")"><i title="Khung chương trình (Kỳ)" class='bx bxs-book-bookmark'></i> Khung chương trình (Kỳ)</a>
                    </div>
                </div>
                <a href="@Url.Action("DanhGiaRenLuyen", "Home" )" class="nav_link">
                    <i title="Đánh giá rèn luyện" class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Đánh giá rèn luyện</span>
                </a>
                @*                <a href="#" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Đăng xuất</span>
                </a>*@
            </div>
        </div>
    </nav>
</div>
<!--Container Main start-->
<div class="border-page">
    <div class="Bang-tin">
        <p class="title-page">Xem lịch Thi</p>
        <div class="title-line"></div>
        <div class="body-study">
            <div class="infor-student d-flex">
                <div class="infor-left">
                    <p>Họ và tên sinh viên:</p>
                    <p>Mã sinh viên:</p>
                    <p>Lớp:</p>
                </div>
                <div class="infor-left">
                    <p><strong>@ViewBag.StudentInfo.Fullname</strong></p>
                    <p><strong>@ViewBag.StudentInfo.Usercode</strong></p>
                    <p><strong>@ViewBag.StudentInfo.Classname</strong></p>
                </div>
            </div>
            <div class="table-TBChungTL">
                <table style="width:100%; margin-top: 5px;">
                    <tr class="clo-1">
                        <!-- Hàng 1-->
                        <th style="width:3%">STT</th>
                        <th style=" overflow: visible;">Tên môn</th>
                        <th style="width:6.5%">Ngày thi</th>
                        <th style="width:7.5%">Ca thi</th>
                        <th style="width:5%">SBD</th>
                        <th style="width:5%">Lần thi</th>
                        <th style=" overflow: visible;">Phòng thi</th>
                        <th style="width:11%">Tòa Nhà</th>
                        <th style="width:8%">Cơ sở</th>
                        <th style="width:6%">Ngày công bố</th>
                        <th style="width:7%">Tham gia thi</th>
                        <th style="width:7.5%">Tình Trạng</th>
                    </tr>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <!-- Hàng 3 trờ đi dựa vao thứ tự của hàng 1 và 2-->
                            <td>@(stt++)</td>
                            <td>@item.ModulesName</td>
                            <td>@item.DateExam.ToString("dd/MM/yyyy")</td>
                            <td>@item.ExamTimeName</td>
                            <td>@item.RegisterID</td>
                            <td>1</td>
                            <td>@item.Room</td>
                            <td>@item.Campus</td>
                            <td>1. BIÊN HÒA</td>
                            <td>@item.CreatedTime.Day/@item.CreatedTime.Month/@item.CreatedTime.Year</td>
                            <td>Tham gia thi</td>
                            <td>Đã nộp lệ phí</td>
                        </tr>
                    }
                  
                   
                </table>
            </div>
        </div>
    </div>
</div>

