@using System.Globalization;
@model List<DoAnTotNghiep.Models.Certificate>
@{
    ViewData["Title"] = "XetThuTotNghiep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stt = 1;
}
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); // try with "en-US"
    string a = double.Parse("12345").ToString("#,###", cul.NumberFormat);
}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo m-l--10">
                <img src="~/images/logo.png" width="35px" height="35px" alt="">
                <span class="nav_logo-name">Quản lý sinh viên</span>
            </a>
            <div class="nav_list">
                <a href="@Url.Action("News", "Home")" class="nav_link">
                    <i title="Bảng tin" class='bx bx-home-alt-2'></i>
                    <span class="nav_name">Bảng tin</span>
                </a>
                <a href="@Url.Action("ChiaSeBieuMau", "Home")" class="nav_link">
                    <i title="Chia sẻ" class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Chia sẻ</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("KetQuaHocTap", "Home")" class="nav_link active">
                            <i title="Kết quả học tập" class='bx bx-clipboard'></i>
                            <span class="nav_name">Kết quả học tập</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet dis-block">
                        <a href="@Url.Action("KetQuaThi", "Home")"><i title="Kết quả thi" class='bx bx-task'></i> Kết quả thi</a>
                        <a href="@Url.Action("TBChungTichLuy", "Home")"><i title="TB chung tích lũy" class='bx bx-task'></i> TB chung tích lũy</a>
                        <a href="@Url.Action("TBChungHocKy", "Home")"><i title="TB chung học kỳ" class='bx bx-task'></i> TB chung học kỳ</a>
                        <a href="@Url.Action("XetThuTotNghiep", "Home")"><i title="Xét thử tốt nghiệp" class='bx bx-task'></i> Xét thử tốt nghiệp</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("ThoiKhoaBieu", "Home")" class="nav_link">
                            <i title="Thời khóa biểu" class='bx bx-time-five'></i>
                            <span class="nav_name">Thời khóa biểu</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("LichGiangDay", "Home")"><i title="Lịch giảng dạy" class='bx bx-timer nav_icon_con'></i> Lịch giảng dạy</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("XemLichThi", "Home" )" class="nav_link">
                            <i title="Lịch thi" class='bx bx-calendar'></i>
                            <span class="nav_name">Lịch thi</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("KeHoachThi", "Home")"><i title="Kế hoạch thi theo lớp" class='bx bx-calendar-check'></i> Kế hoach thi theo lớp</a>
                    </div>
                </div>
                <a href="@Url.Action("LopHoc", "Home" )" class="nav_link">
                    <i title="Lớp Học" class='bx bxs-school'></i>
                    <span class="nav_name">Lớp học</span>
                </a>
                <a href="@Url.Action("CaNhan", "Home" )" class="nav_link">
                    <i title="Cá nhân" class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Cá nhân</span>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">
                        <a href="@Url.Action("DangKyHP", "Home" )" class="nav_link">
                            <i title="Đăng ký học phần" class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Đăng ký học phần</span>
                        </a>
                    </button>
                    <div class="dropdown-contnet">
                        <a href="@Url.Action("TinhHinhDangKyHP", "Home")"><i title="Tình hình ĐK học phần" class='bx bxs-bookmark'></i> Tình hình ĐK học phần</a>
                        <a href="@Url.Action("KhungChuongTrinh", "Home")"><i title="Khung chương trình" class='bx bxs-book-bookmark'></i> Khung chương trình</a>
                        <a href="@Url.Action("KhungChuongTrinhKy", "Home")"><i title="Khung chương trình (Kỳ)" class='bx bxs-book-bookmark'></i> Khung chương trình (Kỳ)</a>
                    </div>
                </div>
                <a href="@Url.Action("DanhGiaRenLuyen", "Home" )" class="nav_link">
                    <i title="Đánh giá rèn luyện" class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Đánh giá rèn luyện</span>
                </a>
                @*                <a href="#" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">Đăng xuất</span>
                </a>*@
            </div>
        </div>
    </nav>
</div>
<!--Container Main start-->
<div class="border-page">
    <div class="Bang-tin">
        <p class="title-page">Xét thử tốt nghiệp</p>
        <div class="title-line"></div>
        <div class="TBChungTL">
            <div class="txt-notic">
                <strong class="txt-clr-red">Chú ý!:</strong>
                <p>[1]. Điều kiện nộp đơn xét tốt nghiệp: Không còn công nợ, đủ chứng chỉ chuẩn đầu ra, TBCTL >= 2, không có tín chỉ F đối với môn bắt buộc, đủ số tín chỉ tối thiểu nhóm tự chọn</p>
                <p>[2]. Khi hệ thống hiển thị dấu tích chọn và thông tin đợt xét được hiển thị bạn mới có thể gửi đơn xét tốt nghiệp</p>
                <p>[3]. Số dư tài khoản của bạn phải lớn hơn hoặc bằng lệ phí nộp đơn xét tốt nghiệp</p>
                <p>[4]. Lệ phí xét tốt nghiệp là <strong>1.500.000 (vnđ)</strong> - Số dư tài khoản của bạn <strong>@ViewBag.StudentInfo.Amount.ToString("#,###", cul.NumberFormat)<sub> (vnđ)</sub></strong></p>
            </div>
            <div class="table-TBChungTL">
                <table style="width:100% ;padding-left: 4px">
                    <form>
                    <tr>
                        <td colspan="12">Thông tin đề xuất xin xét tốt nghiệp đợt: <span class="txt-clr-red">@*2023 - Đợt 1 - T6 - 2023 - Đợt 1 - T6 (Thời gian: 4/1/2023 11:31:00 AM - 5/5/2023 11:31:00 AM)*@</span></td>
                    </tr>
                    <tr>
                        <th style="width:2%;">
                            <div class="checkbox">
                                 <input type="checkbox">
                            </div>
                        </th>
                        <th style="width:3%;">STT</th>
                        <th style="width:10%;">Mã sinh viên</th>
                        <th style="width:10%;">Họ và tên</th>
                        <th style="width:5%;">lớp</th>
                        <th style="width:5%;">TBCTL</th>
                        <th style="width:6%;">Số TCTL</th>
                        <th style="width:10%;">Số TC F</th>
                        <th>Chứng chỉ chuẩn đầu ra</th>
                        <th style="width:7%;">Công nợ</th>
                        <th style="width:8%;">Tình trạng</th>
                        <th style="width:7%;">Ghi chú</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>@ViewBag.StudentInfo.Usercode</td>
                            <td>@ViewBag.StudentInfo.Fullname</td>
                            <td>@ViewBag.StudentInfo.Classname</td>
                            <td>@ViewBag.StudentInfo.TBCTL</td>
                            <td>@ViewBag.StudentInfo.TotalCredits/<strong>@ViewBag.StudentInfo.Credits</strong></td>
                            <td>@ViewBag.F</td>
                            <td>@Model.Where(x=>x.ID>0).Count()/@Model.Count</td>
                            <td>@ViewBag.ttcn.ToString("#,###", cul.NumberFormat)</td>
                            <td></td>
                            <td>Đang học</td>
                        </tr>
                    </tbody>
                    </form>
                </table>
                <button type="submit" class="button m-t-12 m-l-16">Nộp đơn xin xét tốt nghiệp</button>
            </div>
            <div class="table-TBChungTL">
                <table style="width:100% ;padding-left: 4px">
                    <form>
                    <tr>
                        <td colspan="12"><strong>Danh sách những chứng chỉ chuẩn đầu ra trong khóa học cần có</strong></td>
                    </tr>
                    <tr>
                        <td style="width:10%;"><strong>STT</strong></td>
                        <td style="width:40%;"><strong>Tên chứng chỉ</strong></td>
                        <td style="width:30%;"><strong>Mã chứng chỉ</strong></td>
                        <td style="width:20%;"><strong>Tình trạng</strong></td>
                    </tr>
                    <tbody>
                            @foreach(var item in Model)
                            {
                            <tr>
                                <td>@(stt++)</td>
                                <td>@item.CertificateName</td>
                                <td>@item.CertificateCode</td>
                                @if(item.ID>0){
                                    <td>Có</td>
                                    }else{
                                    <td>Không</td>
                                    }
                            </tr>
                            }
                         
                    </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>

