@model List<DoAnTotNghiep.Models.IndependentClass>
@{
    var results = Model.GroupBy(
    p => new { p.ModulesID, p.IndependentClassID, p.StartDate, p.Teachername, p.ClassName, p.ClassCode, p.Credits, p.Amount, p.SSSV },
    (key, g) => new { ModulesID = key.ModulesID, IndependentClassID = key.IndependentClassID, StartDate = key.StartDate, Teachername = key.Teachername, ClassName = key.ClassName, ClassCode = key.ClassCode, Credits = key.Credits, Amount = key.Amount, SSSV = key.SSSV });
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
*@
<style>
    body.waiting * {
        cursor: wait;
    }
</style>
<table style="width:100% ;padding-left: 4px">
    <tr>
        <td colspan="10">
            <p class="p-t-8"><strong>Lựa chọn lớp học phần: </strong><strong class="txt-clr-red">@(Model.Count>0?Model[0].ModulesName:"")</strong></p>
        </td>
    </tr>
    <tr>
        <th style="width:8%;">Tên Lớp</th>
        <th style="width:8%;">Tên Mã lớp </th>
        <th>Tên giáo viên giảng dạy</th>
        <th style="width:10%;">Ngày bắt đầu</th>
        <th style="width:10%;">Địa điểm học</th>
        <th style="width:14%;">Thời gian học</th>
        <th style="width:7%;">Tín chỉ</th>
        <th style="width:10%;">Số lượng</th>
        <th style="width:10%;">Học phí</th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in results)
        {
            <tr>
                <td>@item.ClassName</td>
                <td>@item.ClassCode</td>
                <td>@item.Teachername (KNN)</td>
                <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                <td>1. BIÊN HÒA</td>
                @foreach(var item2 in Model.Where(x => x.ClassCode == item.ClassCode))
                {
                    <td style="display:block">@("Thứ " + item2.DayStudy + "(" + @item2.timeday + ")" + @item2.RoomName)</td>
                }
                <td>@item.Credits</td>
                <td>@item.SSSV</td>
                <td>@item.Amount</td>
                <td><a onclick="dkhp(@item.IndependentClassID,@item.ModulesID)" href="#">[Đăng ký]</a></td>
            </tr>
        }
      
    </tbody>
</table>
<script>
    function dkhp(id,mdid){
        document.body.className = 'waiting';
        $.ajax({
            url:"/Home/HandleDKHP",
            data:{id,mdid},
            method:"post",
            success: function(rs){
                if(rs.split('|')[0]=='Y'){
                    toastr.success(rs.split('|')[1]);
                    setTimeout(function(){
                        window.location="/Home/Dangkyhp"
                    },2000);
                }else{
                    toastr.warning(rs.split('|')[1]);
                }
            },
            error: function(e){
                toastr.error("Xảy ra lỗi err: "+e);
            },
            complete: function () {
                document.body.className = ''; // could be empty or whatever you want
            }
        })
    }
</script>